.button{
    -fx-background-color: #ABCDEF;
}

.button:hover{
    -fx-background-color: #42a5f5;
    -fx-text-fill: white;
}

.button:pressed{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}
